<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Scan Queue</a>
    <ul class="nav" style="float:right">
      <p>
      	<a href="#myModal" class="btn btn-primary" data-toggle="modal">New Scan</a>
	  </p>

    </ul>
  </div>
</div>

<div class="container" id="secondbody">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>
      		<input type="checkbox">
      		<span class="dropdown">
              <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">More<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Select Running</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#anotherAction">Select Pausing</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Select Finished</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Selected All</a></li>
              </ul>
            </span>
	      </th>
	      <th>Name</th>
	      <th>Last Updated</th>
	      <th>Status</th>
	      <th>Results</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>
      		<input type="checkbox">
	      </td>
	      <td>Tsg123</td>
	      <td>May 29, 2013 14:54:54</td>
	      <td>
	      	<a href="#" class="btn btn-primary btn-mini btn-success">Completed<a>
	      </td>
	      <td>
	      	<button href="/oscan/1/results/" class="btn-link results">Results</button>
	      </td>
	    </tr>
	    <tr>
	      <td>
      		<input type="checkbox">   	
	      </td>
	      <td>Tsg123</td>
	      <td>May 29, 2013 14:54:54</td>
	      <td>
	      	<a href="#" class="btn btn-primary btn-mini btn-danger">--Running-<a>
	      </td>
	      <td>
	      	<button href="/oscan/2/results/" class="btn-link results">Results</button>
	      </td>
	    </tr>
	  </tbody>
	</table>
</div>


<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New Scan</h3>
  </div>
  <div class="modal-body">
    <p>
    	<div class="input-prepend">
		  <span class="add-on">Name-</span>
		  <input class="span3" id="prependedInput" type="text" placeholder="任务名称">
		</div>
    	<div class="input-prepend">
		  <span class="add-on">Target</span>
		  <input class="span5" id="prependedInput" type="text" placeholder="目标站点">
		</div>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">cancel</button>
    <button class="btn btn-primary">Apply</button>
  </div>
</div>


<script type="text/javascript">
    $(".results").click(function(){
    	href = $(this).attr("href");
    	$("#mainbody").load(href);
    })
    
</script>